# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = BasePro.settings

[deploy:oldman]
url = http://192.168.190.48:6800/
project = BasePro